#main {
    width:100%;
    display:block;
}
#main .row {
    display:block;
    float:left;
    width:100%;
    margin:0 0 2em 0;
}
#main .row .left {
    float:left;
    width:40%;
    background:#dee8eb;
    border:1px solid white;
    padding:2em;
}
#main .row .right {
    float:right;
    width:40%;
    background:#dee8eb;
    border:1px solid white;
    padding:2em;
}